@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* custom css */
:where(.css-dev-only-do-not-override-77tu7h).ant-otp {
  column-gap: 2px;
}
.m-home {
  margin: 0px auto;
}
.ant-form-item {
  margin-bottom: 8px!important;
}
.ant-input {
  border-top: none;
  border-left: none;
  border-right: none;
  
  border-radius: 0px;
}

.ant-input:focus {
  box-shadow: unset !important;
}
.ant-input-outlined {
  border-bottom: 1px dashed #d9d9d9;
}
.ant-btn-block {
  border: none !important;
}
.ant-typography {
  font-size: 24px !important;
  line-height: unset !important;
}
.add-btn {
  color:  #40a9ff !important;
  &:hover, &:focus, &:active {
    color:  #40a9ff !important;
  }
}

